type batterysecret, domain;
type batterysecret_exec, exec_type, vendor_file_type, file_type;
allow batterysecret sysfs_battery_supply:file rw_file_perms;
init_daemon_domain(batterysecret)

